<div class="background">

<div class="show">
<%= form_for @user do |f| %>

    <%= f.text_field :name,  :placeholder => "Full Name", :autofocus => true, :class => "css_class" %>
  </p>

  <p>
    
    <%= f.text_field :email, :placeholder => "Email", :class => "css_class" %>
  </p>

     
    <%= f.file_field :avatar, :class => "css_avatar"  %>
    <%= f.hidden_field :avatar_cache, :class => "css_avatar" %>
  </p>
  
 

  <p><%= f.button 'Create User' %></p>
<% end %>
  </div>
</div>