<div class="background">


<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

 <p class="avatar">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>
 

  <p><%= f.button 'Create User' %></p>
<% end %>
</div>