<div class="user">

<h1>Levels</h1>

<ul>
   <% @users.each do |user| %>

 
<div class="userfont">
   	<li>Profile : <%= link_to(user.name, user) %></li>
   	<li><%= image_tag(user.avatar, :class => 'thumb')  %></li>
   	<li>Email: <%= user.email %>

    <li><%= link_to('Add New Post', new_post_path) %></li>
  
  

  
  <%= link_to('Edit |', edit_user_path(user)) %> 
    
	<%= link_to('Delete', user, :method => :delete, :confirm => "Are you sure you want to delete this Profile?") %> 
</div>

  <hr>

   	

   	


   <% end %>

</ul>
</div>