
<div class="user">
<h1><%= @user.name %></h1>
<ul>
  <div class="userfont">
  <li><%= image_tag(@user.avatar, :class => 'thumb') %></li>
  <li><%= @user.email %></li>
<hr>
  <p class="plist"> POSTS </p>

  <% @user.posts.each do |post| %>
  
       <p><%= link_to(post.title, post) %></p>
  
   <% end %>
   <hr>
   <li> <%= link_to('Create a new Post', new_post_path) %></li>
   <li><%= link_to('View Your Post Feeds', posts_path) %></li>
        
   </div>
   	 
<hr>
  
</ul>

</div>



