
<div class="background">

   <div class="show">
    <%= form_for @post do |f| %>
    <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>

      <p><%= f.label :user_id %>
      <%= f.select :user_id, User.all.map{|user|[user.name, user.id]}, :include_blank => true %>

     </p>
     <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <%=f.label :body %><br/>
    <%=f.text_area :body %>
    </p>

    <p>
     <%= f.label :image %>
    <%= f.text_field :image %>
   </p>

   
    <p> <%= f.submit %> </p>

    <% end %>

</div>

</div>
